// Replace Bootstrap base styles
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

.error, .cerror{
    font-size: 11px !important;
    font-weight: bold;
    background-color: $bg-danger;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 4px;
    padding-top: 2px;
    margin-top: 3px;
}

.container{
    padding: 0 !important;
}

@mixin noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*{
    transition: ease all 0.5s;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.close {
    padding-top: .465rem !important;
}

// Alerts Core
.alert-info{
    color: $text-info;
    background-color: $bg-info;
}

.alert-danger{
    color: $text-danger;
    background-color: $bg-danger;
}

.alert-warning{
    color: $text-warning;
    background-color: $bg-warning;
}

.alert-success{
    color: $text-success;
    background-color: $bg-success;
}

// Body Core 
body{
    @include noselect;
    min-width: $page-min-width;
    background-color: $page-background !important;
    font-size: $font-size;
    font-family: $font-family;
    opacity: 0%;
    transition: ease all 0.75s;
}

.body-loaded{
    opacity: 100% !important;
}

// Global link
a{
    color: $bg-secondary;
    font-weight: bold;
    text-decoration: none !important;
    font-size: $font-size;
}

a:hover{
    color: darken($bg-secondary, 35%);
    text-decoration: underline !important;
}

// Primary Accent Color
.accent-primary{
    background-color: $bg-primary !important;
    color: $text-primary !important;
}
.accent-secondary{
    background-color: $bg-secondary !important;
    color: $text-secondary !important;
}
.accent-success{
    background-color: $bg-success !important;
    color: $text-success !important;
}
.accent-warning{
    background-color: $bg-warning !important;
    color: $text-warning !important;
}
.accent-danger{
    background-color: $bg-danger !important;
    color: $text-danger !important;
}
.accent-info{
    background-color: $bg-info !important;
    color: $text-info !important;
}

button.accent-primary:hover{
    background-color: $text-primary !important;
    color: $bg-primary !important;
}
button.accent-secondary:hover{
    background-color: $text-secondary !important;
    color: $bg-secondary !important;
}
button.accent-success:hover{
    background-color: $text-success !important;
    color: $bg-success !important;
}
button.accent-warning:hover{
    background-color: $text-warning !important;
    color: $bg-warning !important;
}
button.accent-danger:hover{
    background-color: $text-danger !important;
    color: $bg-danger !important;
}
button.accent-info:hover{
    background-color: $text-info !important;
    color: $bg-info !important;
}

// Base Component
@mixin component{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

// Visibility

.hide{
    display: none;
}