@mixin field {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid $bg-secondary;
    border-radius: 0 !important;
    color: $text-primary !important;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}

.app-textfield,
.app-passfield,
.app-field {
    @include component;
    @include field;
}

.app-textfield:focus,
.app-passfield:focus,
.app-field:focus {
    border-bottom: 3px solid darken($bg-secondary, 20) !important;
}
.app-radio {
    @include component;
    border-radius: 15px;
    position: relative;
    content: "";
    display: inline-block;
    visibility: visible;
}

.app-radio:after {
    @extend .app-radio;
    width: 15px;
    height: 15px;
    top: -0px;
    left: -1px;
    background-color: $bg-secondary;
}

input[type="radio"]:checked:after {
    @extend .app-radio;
    width: 21px !important;
    height: 21px !important;
    top: -3px !important;
    left: -4px !important;
    background-color: darken($bg-secondary, 30) !important;
}
