RewriteEngine On

RewriteCond %{REQUEST_URI}  /src/Cosmic/Bundle.+(gif|png|jpg|jpeg|mp3|js|css|map)$
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI}  /src/Cosmic/Binder.+(gif|png|jpg|jpeg|mp3|js|css|map)$
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI}  /app/Views.+(js|css)$
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI}  /app/Content.+(gif|png|jpg|jpeg|mp3|js|css|map)$
RewriteRule .* - [L]

RewriteRule .* app/Startup.php [L]