@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

$page-min-width: 300px;
$page-background: #273837;

$font-size: 12px;
$font-button-size: 12px;
$font-family: 'Noto Sans JP', sans-serif;

.bg-xdark{
    background-color: rgb(208, 216, 210);
}

$text-primary: hsl(174, 45%, 21%);
$text-secondary: hsl(159, 27%, 71%);
$text-success: hsl(120, 47%, 18%);
$text-warning: hsl(34, 65%, 29%);
$text-danger: hsl(0, 42%, 67%);
$text-info: hsl(203, 76%, 16%);

$bg-primary: hsl(156, 50%, 92%);
$bg-secondary: hsl(154, 25%, 22%);
$bg-success: hsl(118, 35%, 41%);
$bg-warning: hsl(49, 77%, 71%);
$bg-danger: hsl(0, 55%, 28%);
$bg-info: hsl(147, 42%, 65%);