@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

$page-min-width: 600px;
$page-background: hsl(250, 18%, 39%);

$font-size: 12px;
$font-button-size: 12px;
$font-family: 'Noto Sans JP', sans-serif;

$text-primary: hsl(229, 73%, 6%);
$text-secondary: hsl(240, 13%, 68%);
$text-success: hsl(118, 46%, 12%);
$text-warning: hsl(34, 65%, 29%);
$text-error: hsl(0, 42%, 67%);
$text-info: hsl(203, 76%, 16%);

$bg-primary: hsl(233, 17%, 91%);
$bg-secondary: hsl(250, 18%, 39%);
$bg-success: hsl(118, 27%, 55%);
$bg-warning: hsl(49, 81%, 77%);
$bg-error: hsl(0, 60%, 31%);
$bg-info: hsl(204, 42%, 75%);