@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.error, .cerror {
  font-size: 11px !important;
  font-weight: bold;
  background-color: #7e2020;
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 4px;
  padding-top: 2px;
  margin-top: 3px;
}
.Container {
  padding: 0 !important;
}
* {
  transition: ease all 0.33s;
}
.NoTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.Close {
  padding-top: 0.865rem !important;
}
.AlertInfo {
  color: #0a3048;
  background-color: #a4c5da;
}
.AlertDanger {
  color: #ce8888;
  background-color: #7e2020;
}
.AlertWarning {
  color: #7a501a;
  background-color: #f4e295;
}
.AlertSuccess {
  color: #112d11;
  background-color: #6fab6d;
}
Body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 600px;
  background-color: #585275 !important;
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;
  opacity: 0%;
  transition: ease all 0.75s;
  overflow-x: hidden;
}
.BodyLoaded {
  opacity: 100% !important;
}
a {
  color: #585275;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 12px;
}
a:hover {
  color: #09080c;
  text-decoration: underline !important;
}
.AccentPrimary {
  background-color: #e4e5ec !important;
  color: #04081a !important;
}
.AccentSecondary {
  background-color: #585275 !important;
  color: #a3a3b8 !important;
}
.AccentSuccess {
  background-color: #6fab6d !important;
  color: #112d11 !important;
}
.AccentWarning {
  background-color: #f4e295 !important;
  color: #7a501a !important;
}
.AccentDanger {
  background-color: #7e2020 !important;
  color: #ce8888 !important;
}
.AccentInfo {
  background-color: #a4c5da !important;
  color: #0a3048 !important;
}
Button.AccentPrimary:hover {
  background-color: #04081a !important;
  color: #e4e5ec !important;
}
Button.AccentSecondary:hover {
  background-color: #a3a3b8 !important;
  color: #585275 !important;
}
Button.AccentSuccess:hover {
  background-color: #112d11 !important;
  color: #6fab6d !important;
}
Button.AccentWarning:hover {
  background-color: #7a501a !important;
  color: #f4e295 !important;
}
Button.AccentDanger:hover {
  background-color: #ce8888 !important;
  color: #7e2020 !important;
}
Button.AccentInfo:hover {
  background-color: #0a3048 !important;
  color: #a4c5da !important;
}
.Hide {
  display: none;
}
.Field {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #585275;
  border-radius: 0 !important;
  color: #04081a !important;
  outline: none;
  outline-color: transparent;
  outline-style: none;
}
.Textfield:focus, .Passfield:focus, .Field:focus {
  border-bottom: 3px solid #2b2839 !important;
}
.Radio, .Radio:after, input[type="radio"]:checked:after {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 15px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
}
.Radio:after, input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  top: 0px;
  left: -1px;
  background-color: #585275;
}
input[type="radio"]:checked:after {
  width: 21px !important;
  height: 21px !important;
  top: -3px !important;
  left: -4px !important;
  background-color: #14131b !important;
}
.Button {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #585275;
  padding: 12px;
  font-size: 12px;
  font-weight: bolder;
}
