@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
#progress_log > div {
  background-color: #bfc2d4 !important;
}
#piano_log {
  overflow-y: scroll;
  height: 250px !important;
  opacity: 0%;
}
#piano_log_title {
  opacity: 0%;
}
/* Full piano */
.v-piano-full {
  background-color: #422e1f;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  margin: 4px;
  padding: 35px;
  padding-top: 25px;
  padding-bottom: 0px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0px 0px 30px 11px rgba(0, 0, 0, 0.28);
}
.v-piano-key-full, .v-piano-key-white-full {
  position: relative;
  top: 8px;
  border-width: 1px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 1 !important;
}
.v-piano-key-full:first-child, .v-piano-key-white-full:first-child {
  border-top-left-radius: 6px;
}
.v-piano-key-full:last-child, .v-piano-key-white-full:last-child {
  border-top-right-radius: 6px;
}
.v-piano-key-white-full {
  display: inline-block;
  border: solid rgba(168, 148, 148, 0.698);
  width: 80px;
  height: 240px;
  background: linear-gradient(white, #e3e3e3);
  border: solid rgba(36, 36, 36, 0.267);
  border-width: 1px;
}
@media (max-width: 1200px) {
  .v-piano-key-white-full {
    width: 60px;
    height: 180px;
  }
}
.v-piano-key-black-full {
  position: relative;
  z-index: 2 !important;
  left: 20px;
  margin-bottom: 74.4px;
  margin-left: -40px;
  box-shadow: inset 0.25em 0.25em 0.25em 0 rgba(255, 255, 255, 0.15), inset -0.2em -0.2em 0.2em 0 rgba(149, 149, 149, 0.25);
  border-radius: 4px;
  display: inline-block;
  border: solid rgba(168, 148, 148, 0.698);
  width: 40px !important;
  height: 158.4px !important;
  background: linear-gradient(#242424, #141414);
  border: solid rgba(36, 36, 36, 0.267);
  border-width: 1px;
}
@media (max-width: 1200px) {
  .v-piano-key-black-full {
    left: 15px;
    margin-bottom: 54px;
  }
}
@media (max-width: 1200px) {
  .v-piano-key-black-full {
    width: 30px !important;
    height: 118.8px !important;
  }
}
.v-piano-key-white-full:active {
  transition-duration: 0.05s;
  filter: brightness(0.8);
  background: linear-gradient(to right, white, #e3e3e3);
}
.v-piano-key-black-full:active {
  transition-duration: 0.05s;
  filter: brightness(0.6);
  background: linear-gradient(-45deg, #242424, #141414);
}
/* Simple piano */
.v-piano-key-white-simple, .v-piano-key-black-simple {
  margin: 4px;
  border-radius: 6px;
  display: inline-block;
  border: solid rgba(168, 148, 148, 0.698);
  font-size: 1.75rem;
  width: 140px;
  height: 80px;
  line-height: 80px;
  background: linear-gradient(white, #e3e3e3);
  border: solid rgba(36, 36, 36, 0.267);
  border-width: 1px;
}
@media (max-width: 1200px) {
  .v-piano-key-white-simple, .v-piano-key-black-simple {
    width: 105px;
    height: 60px;
    font-size: 1.3125rem;
    line-height: 60px;
  }
}
.v-piano-key-white-simple:active, .v-piano-key-black-simple:active {
  background: linear-gradient(#e3e3e3, white);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.error, .cerror {
  font-size: 11px !important;
  font-weight: bold;
  background-color: #922f2f;
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 4px;
  padding-top: 2px;
  margin-top: 3px;
}
.container {
  padding: 0 !important;
}
* {
  transition: ease all 0.5s;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.close {
  padding-top: 0.465rem !important;
}
.alert-info {
  color: #162936;
  background-color: #a4c5da;
}
.alert-danger {
  color: #f6e4e4;
  background-color: #922f2f;
}
.alert-warning {
  color: #4e4208;
  background-color: #f4e295;
}
.alert-success {
  color: black;
  background-color: #6fab6d;
}
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 600px;
  background-color: #585275 !important;
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;
  opacity: 0%;
  transition: ease all 0.75s;
}
.body-loaded {
  opacity: 100% !important;
}
a {
  color: #3f28bd;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 12px;
}
a:hover {
  color: #4e487a;
  text-decoration: underline;
}
