.AlertInfo{
    color: $text-info;
    background-color: $bg-info;
}

.AlertDanger{
    color: $text-danger;
    background-color: $bg-danger;
}

.AlertWarning{
    color: $text-warning;
    background-color: $bg-warning;
}

.AlertSuccess{
    color: $text-success;
    background-color: $bg-success;
}