@mixin Field {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid $bg-secondary;
    border-radius: 0 !important;
    color: $text-primary !important;
    outline: none;
    outline-color: transparent;
    outline-style: none;
}

.Textfield,
.Passfield,
.Field {
    @include Component;
    @include Field;
}

.Textfield:focus,
.Passfield:focus,
.Field:focus {
    border-bottom: 3px solid darken($bg-secondary, 20) !important;
}

.Radio {
    @include Component;
    border-radius: 15px;
    position: relative;
    content: "";
    display: inline-block;
    visibility: visible;
}

.Radio:after {
    @extend .Radio;
    width: 15px;
    height: 15px;
    top: -0px;
    left: -1px;
    background-color: $bg-secondary;
}

input[type="radio"]:checked:after {
    @extend .Radio;
    width: 21px !important;
    height: 21px !important;
    top: -3px !important;
    left: -4px !important;
    background-color: darken($bg-secondary, 30) !important;
}

.Button {
    @include Component;
    background-color: $bg-secondary;
    padding: 12px;
    font-size: $font-button-size;
    font-weight: bolder;
}