// Replace Bootstrap base styles
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

label.error {
    font-size: 0.8em;
    background-color: $bg-danger;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    margin-bottom: 15px;
}

input.error {
    color: $bg-danger !important;
}

@mixin Unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    transition: ease all 0.33s;
}

.NoTransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.Close {
    padding-top: 0.865rem !important;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

// Body Core
Body {
    @include Unselectable;
    min-width: $page-min-width;
    height: 100vh;
    background-color: $page-background !important;
    font-size: $font-size;
    font-family: $font-family;
    opacity: 0%;
    transition: ease all 0s;
    overflow-x: hidden;
    padding: 0 !important;
}

.BodyLoaded {
    opacity: 100% !important;
}

// Global link
a {
    color: $bg-secondary;
    font-weight: bold;
    text-decoration: none !important;
    font-size: $font-size;
}

a:hover {
    color: darken($bg-secondary, 35%);
    text-decoration: underline !important;
}

// Primary Accent Color
.AccentPrimary {
    background-color: $bg-primary !important;
    color: $text-primary !important;
}

.AccentSecondary {
    background-color: $bg-secondary !important;
    color: $text-secondary !important;
}

.AccentSuccess {
    background-color: $bg-success !important;
    color: $text-success !important;
}

.AccentWarning {
    background-color: $bg-warning !important;
    color: $text-warning !important;
}

.AccentDanger {
    background-color: $bg-danger !important;
    color: $text-danger !important;
}

.AccentInfo {
    background-color: $bg-info !important;
    color: $text-info !important;
}

// Base Component
@mixin Component {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

// Visibility
.Hide {
    display: none;
}
